@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --blue: #287bff;
    --white: #ffffff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    width: 100%;
    position: relative;
}
.navigation{
    width: 80px;
    height: 100%;
    position: fixed;
    transition: .5s;
    overflow: hidden;
    background-color: var(--blue);
    border-left: 10px solid var(--blue);
}
.navigation.active{
    width: 300px;
}
.navigation ul {
    width: 100%;
    list-style: none;
    position: absolute;
    top: 0; left: 0;
}
.navigation ul li{
    width: 100%;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover, 
.navigation ul li.active{
    background-color: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    width: 100%;
    display: flex;
    position: relative;
    color: var(--white);
    text-decoration: none;
}
.navigation ul li:hover a,
.navigation ul li.active a{
    color: var(--blue);
}
.navigation ul li a .icon{
    height: 60px;
    min-width: 60px;
    line-height: 70px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 1.75em;
}
.navigation ul li a .title{
    height: 60px;
    display: block;
    padding: 0 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.active a::before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0; top: -50px;
    border-radius: 50%;
    pointer-events: none;
    background-color: transparent;
    box-shadow: 35px 35px 0 10px var(--white);
}
.navigation ul li:hover a::after,
.navigation ul li.active a::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0; bottom: -50px;
    border-radius: 50%;
    pointer-events: none;
    background-color: transparent;
    box-shadow: 35px -35px 0 10px var(--white);
}

/* ************************************************************************ */

main{
    position: absolute;
    left: 80px;
    min-height: 100vh;
    transition: .5s;
    width: calc(100% - 80px);
    background-color: var(--white);
}
main.active{
    left: 300px;
    width: calc(100% - 300px);
}
.topbar{
    width: 100%;
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle{
    /* width: 60px;
    height: 60px; */
    font-size: 2.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    width: 400px;
    margin: 0 10px;
    position: relative;
}
.search label{
    width: 100%;
    position: relative;
}
.search label input{
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 18px;
    padding: 5px 10px 5px 35px;
    border-radius: 40px;
    border: 1px solid var(--black2);
}
.search label ion-icon{
    position: absolute;
    top: 50%; left: 10px;
    font-size: 1.2em;
    transform: translateY(-50%);
}
.user{
    width: 40px;
    height: 40px;
    min-width: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.user img{
    width: 100%;
    object-fit: cover;
}

/* ************************************************************************ */

.cardBox{
    width: 100%;
    padding: 20px;
    position: relative;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.cardBox .card{
    padding: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers{
    font-size: 2em;
    font-weight: 500;
    color: var(--blue);
    position: relative;
}
.cardBox .card .cardName{
    font-size: 1.1em;
    margin-top: 5px;
    color: var(--black2);
}
.cardBox .card .iconbox{
    font-size: 3em;
    margin-left: 10px;
    color: var(--black2);
}
.cardBox .card:hover{
    background-color: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconbox{
    color: var(--white );
}

/* ************************************************************************ */

.details{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    position: relative;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
}
.details .recentOrders{
    padding: 20px;
    min-height: 500px;
    border-radius: 20px;
    display: grid;
    overflow-x: auto;
    background-color: var(--white);
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
}
.details .cardHeader{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.details .cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}
.details .cardHeader .btn{
    padding: 5px 10px;
    color: var(--white);
    border-radius: 6px;
    position: relative;
    text-decoration: none;
    background-color: var(--blue);
}
.details .recentOrders table{
    width: 100%;
    margin-top: 10px;
    overflow-x: auto;
    border-collapse: collapse;
}
.details .recentOrders table th{
    text-align: start;
}
.details .recentOrders table tr{
    color: var(--black1);
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child{
    border: none;
}
.details .recentOrders table tbody tr:hover{
    color: var(--white);
    background-color: var(--blue);
}
.details .recentOrders table tbody tr td,
.details .recentOrders table thead tr th{
    padding: 10px;
}
.details .recentOrders table tr td:nth-child(2),
.details .recentOrders table tr th:nth-child(2),
.details .recentOrders table tr td:last-child,
.details .recentOrders table tr th:last-child{
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3),
.details .recentOrders table tr th:nth-child(3){
    text-align: center;
}
.status{
    font-size: 14px;
    font-weight: 500;
    padding: 2px 4px;
    color: var(--white);
    border-radius: 4px;
}
.status.delivered{
    background-color: yellowgreen;
}
.status.return{
    background-color: tomato;
}
.status.pending{
    background-color: khaki;
}
.status.inprogress{
    background-color: dodgerblue;
}

.recentCustomers{
    padding: 20px;
    min-height: 500px;
    position: relative;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    display: grid;
}
.recentCustomers .imgBox{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
.recentCustomers .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
}
.recentCustomers table{
    border-collapse: collapse;
}
.recentCustomers table tr:hover{
    color: var(--white);
    background-color: var(--blue);
}
.recentCustomers table tr td{
    padding: 12px 10px;
}
.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}
.recentCustomers table tr:hover td h4 span{
    color: var(--white);
}

/* ************************************************************************ */

@media screen and (max-width: 1200px) {
    .navigation{
        z-index: 99;
    }
    main.active{
        width: calc(100% - 80px);
    }
    .navigation.active .close-icon{
        display: block;
    }
}

@media screen and (max-width: 991px){
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 840px){
    .details{
        grid-template-columns: repeat(1, 1fr);
    }
    .cardBox .card .iconbox{
        font-size: 2.5em;
    }
    .cardBox .card .numbers{
        font-size: 1.7em;
    }
    .cardBox .card .cardName{
        font-size: 1em;
    }
}
@media screen and (max-width: 590px){
    .navigation{
        width: 0;
    }
    .navigation.active{
        width: 80%;
    }
    .navigation.active .close-icon{
        display: none;
    }
    main{
        width: 100%;
        left: 0px;
    }
    main.active{
        left: 80%;
    }
    .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }

    .details .cardHeader .btn{
        font-size: 14px;
    }
    .details .cardHeader h2{
        font-size: 20px;
    }

    
}